.dropdown_holder {
    font-weight: 700;
    margin-left: 10px;
    position: relative;

    span {
        margin-left: 6px;
    }

    &_optionholder {
        position: absolute;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
        box-sizing: border-box;
        margin-top: 4px;
        overflow: hidden;
        /* pointer-events: none; */
        transform-origin: 50% 0;
        /* transform: scale(0.75) translateY(-21px); */
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        width: 140px;
        font-size: 14px;
        
        &_options {
           padding: 10px;
            &:hover {
                background-color: #f6f6f6;
            }
        }
    }
}